<!-- <app-header></app-header> -->

<div>
  <div class="row">
    <!-- top bar -->
    <header>
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-3">
            <div class="logo">
              <!-- <img src="../assets/logo.png"> -->
            </div>
          </div>
          <div class="col-md-9 cok-sm-3 col-90 text-end">
            <div class="menu">
              <ul>
                <li (click)="tofavo()">
                  <i class="bi bi-heart-fill favorite-icon">
                    <span *ngIf="favoriteReceipesCount>0"
                      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{favoriteReceipesCount}}
                    </span>
                  </i>
                </li>
                <li (click)="toprof()"><i class="bi bi-person-circle"></i></li>
                <li (click)="logout()"><i class="bi bi-box-arrow-right"></i></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <!-- </nav> -->
    </header>
  </div>
  <div class="row"> <!--Flex layout -->
    <!-- Sidebar -->
    <div class="col-lg-2">
      <div>
        <div class="sidebar-box">
          <div class="profile">
            <img src="../../assets/logo.png" (click)="toprof()" id="propic">
            <div class="imgtxt">
              <p>
                Name :
              </p>
              <p>
                E-mail :
              </p>
              <p>
                D O B :
              </p>
            </div>
          </div>
          <div class="side-menu-list">
            <ul class="sidebar-items">
              <!-- <li (click)="toprof()">Profile</li> -->
              <li (click)="tohome()">Home</li>
              <li (click)="toadd()">Add recipe</li>
              <li (click)="tofav()">Card List</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-10">
      <div class="col-lg-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- favourites popup -->
<div class="modal" id="favmodal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="favmodal-title">Favourite Recipe</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="onclosemodal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngFor="let favoriteReceipe of favoriteReceipes">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div>Receipe Name: {{favoriteReceipe.recipename}}</div>
            <div>Price: {{favoriteReceipe.price}}</div>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-primary" (click)="goTocart(favoriteReceipe)">cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- logout popup -->
<div class="modal" id="logoutmodal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closelogout()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to logout</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onLogout()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="closelogout()" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>