<!-- <app-header></app-header> -->

<div class="row search-container">
  <div class="col-lg-11 search-input-wrap">
    <input type="search" class="srch" placeholder="Search" [(ngModel)]="cardSearch">
  </div>
  <div class="col-lg-1">
    <button (click)="onFilter()">
      <i class="bi bi-funnel-fill"></i>
    </button>
  </div>
</div>





<!-- cart lists -->

<div class="row">
  <div class="card col-lg-3" *ngFor="let receipe of allReceipes|cardSearch:cardSearch|sortReceipe:priceOrder">
    <div class="card-img">
      <div class="card-delete">
        <i class="bi bi-trash-fill" (click)="deleteCard(receipe)"></i>
      </div>
    </div>
    <div class="card-info">
      <p class="text-title">Product title: {{receipe.recipename}} </p>
      <span class="text-title">Price: {{receipe.price}} </span>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="goTocart(receipe)">cart</button>
      <span>
        <button class="btn btn-secondary" [ngClass]="{'favorite-receipe':receipe.favoriteReceipe}"
          (click)="addToFavorite(receipe)">
          <i class="bi bi-heart-fill"></i>
        </button>
      </span>
    </div>
  </div>
</div>

<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" #toast>
  <div class="d-flex">
    <div class="toast-body">
      Item added to cart.
    </div>
  </div>
</div>

<!-- filter popup -->

<div class="modal fltrmodal" id="filtermodal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-check form-switch form-check-reverse price-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="lowToHigh"
            [checked]="priceOrder==='lowToHigh'" (change)="switchLowToHigh($event)">
          <label class="form-check-label" for="lowToHigh">Price low to high</label>
        </div>
        <div class="form-check form-switch form-check-reverse price-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="highToLow"
            [checked]="priceOrder==='highToLow'" (change)="switchHighToLow($event)">
          <label class="form-check-label" for="highToLow">Price high to low</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="sortReceipes()">Apply</button>
      </div>
    </div>
  </div>
</div>