header {
    padding: 12px 0;
    background: white;
}

.menu {
    margin-top: 10px;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu ul li {
    list-style-type: none;
    color: black;
    display: inline-block;
    font-size: 25px;
    margin-left: 44px;
}

.menu ul li:hover {
    color: red;
    cursor: pointer;
    transition: 0.4 ease-in-out;
}

@media only screen and (max-width: 999px) {
    .menu {
        position: absolute;
        right: 0;
        top: 64px;
    }
}

/* sidebar */

/* .app-component{
    width: 98%;
} */

.mr-2 {
    margin-left: 25px;
}

.sidebar-box {
    height: 650px;
    width: 215px;
    background-color: whites;
    /* width: 65px; */
}

.sidebar-box:hover {
    width: 215px;
    transition: 0.3s;
}

.sidebar-items {
    list-style: none;
    line-height: 60px;
    padding-left: 0px;
    height: 100px;
}

.sidebar-items li {
    font-size: 18px;
    font-weight: 600;
    padding-left: 25px;
    cursor: pointer;

}

.sidebar-items li:hover {
    background-color: lightskyblue;
    color: #fcfcfc;
}

.onActive:hover {
    color: #fcfcfc;
    background-color: lightskyblue;
}

/* favourite modal */

.favmodal-title {
    margin-left: 150px;

}

/* propic */

#propic {
    width: 120px;
    height: 70px;
}

.profile {
    margin-left: 30px;
    margin-top: -50px;
}

.imgtxt {
    margin-top: 10px;
}

.imgtxt p {
    font-weight: 600;
}

.favorite-icon {
    position: relative;
}

.badge {
    font-size: 10px;
}